<div class="content-block">
  <app-toolbar
    [title]="'Sales Order List'"
    [iBtnReload]="true"
    [iBtnCreate]="false"
    [iBtnEdit]="true"
    [iBtnDelete]="false"
    [iBtnSave]="false"
    [iBtnSend]="false"
    [iBtnBack]="true"
    [iBtnJSON]="false"
    [iBtnView]="false"
    [iBtnClose]="false"
  >
  </app-toolbar>
<div class="content-block">
  <div class="dx-card responsive-paddings">

  </div>
</div>

